{{ if $.Param "enableSidebar" }}

<ul class="sidebar">
    {{ partial "search/site-search" . }}
    {{ partial "sidebar/custom-list" . }}
    {{ partial "sidebar/list/posts-by-order" . }}

    <!-- {{ if and ($.Param "itemsPerCategory") ($.Param "enableListSidebarTitles") }}
        {{ range first ($.Param "itemsPerCategory") .Pages }}
        <li class="sidebar-recent">
            <a href="{{ .RelPermalink }}" class="sidebar-recent__title p1">{{ .Title }}</a>
        </li>
        {{ end }}
        <hr class="hr-fade sidebar-hr" />
    {{ end }} -->
    {{ if and ($.Param "itemsPerCategory") ($.Param "enableHomeSidebarTitles") }}
        {{ $filteredSections := .Site.Sections }}
        {{ range $.Param "notAllowedTypesInHomeSidebar" }}
            {{ $filteredSections = (where $filteredSections "Type" "!=" (lower .)) }}
        {{ end }}

        {{ range $filteredSections }}
        <section class="sidebar-recent">
            <a href="{{ .RelPermalink }}" class="sidebar-recent__title p2">{{ .Title }}</a>
            <ul class="sidebar-recent__ul">
                {{ range first ($.Param "itemsPerCategory") .Pages }}
                    <li>
                        <a href="{{ .RelPermalink }}" class="sidebar-recent__a p2">{{ .Title }}</a>
                    </li>
                {{ end }}
            </ul>
        </section>
        <hr class="hr-fade sidebar-hr" />
        {{ end }}
    {{ end }}
    {{ partial "newsletter/newsletter-sidebar" . }}
    <hr class="hr-fade sidebar-hr" />
</ul>
<div class="taxo-root">
{{ partial "taxonomy/taxonomy-categories" . }}
<hr class="hr-fade sidebar-hr" />
{{ partial "taxonomy/taxonomy-tags" . }}
{{ partial "taxonomy/taxonomy-series" . }}
</div>
{{ end }}
