{{ if $.Param "enableSidebar" }}
<div class="sidebar">
    {{ partial "search/site-search" . }}
    {{ partial "sidebar/site-bio" . }}
    {{ partial "sidebar/custom-home" . }}
    {{ partial "sidebar/list/posts-by-order" . }}

    {{ if and ($.Param "itemsPerCategory") ($.Param "enableHomeSidebarTitles") }}
        {{ $filteredSections := .Site.Sections }}
        {{ range $.Param "notAllowedTypesInHomeSidebar" }}
            {{ $filteredSections = (where $filteredSections "Type" "!=" (lower .)) }}
        {{ end }}

        {{ range $filteredSections }}
        <section class="sidebar-recent">
            <a href="{{ .RelPermalink }}" class="sidebar-recent__title p2">{{ .Title }}</a>
            <ul class="sidebar-recent__ul">
                {{ range first ($.Param "itemsPerCategory") .Pages }}
                    <li>
                        <a href="{{ .RelPermalink }}" class="sidebar-recent__a p2">{{ .Title }}</a>
                    </li>
                {{ end }}
            </ul>
        </section>
        <hr class="hr-fade sidebar-hr" />
        {{ end }}
    {{ end }}
    {{ if isset .Site.Params "mailchimp" }}
    <div class="container text-center">
          <span>
              Subscribe to Newsletter
          </span>

          <form action="{{ with .Site.Params.mailchimp }}{{.}}{{end}}" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <!-- <input type="name" placeholder="Name" name="NAME" autocomplete="on" required> -->
  		<input type="email" placeholder="Email" name="EMAIL" autocomplete="on" required>
  	    	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  	    	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{ with .Site.Params.mailprotect }}{{.}}{{end}}" tabindex="-1" value=""></div>
  		<input type="submit" value="Subscribe" name="subscribe" >
          </form>
  	</div>
    <hr class="hr-fade sidebar-hr" />
    {{ end }}
</div>
<div class="taxo-root">
{{ partial "taxonomy/taxonomy-categories" . }}
<hr class="hr-fade sidebar-hr" />
{{ partial "taxonomy/taxonomy-tags" . }}
{{ partial "taxonomy/taxonomy-series" . }}
</div>
{{ end }}
